In [2]:
import pandas as pd

In [3]:
dataset = pd.read_csv('heart.csv')
print(dataset)

     Age Sex ChestPainType  RestingBP  Cholesterol  FastingBS RestingECG  \
0     40   M           ATA        140          289          0     Normal
1     49   F           NAP        160          180          0     Normal
2     37   M           ATA        130          283          0         ST
3     48   F           ASY        138          214          0     Normal
4     54   M           NAP        150          195          0     Normal
..   ...  ..           ...        ...          ...        ...        ...
913   45   M            TA        110          264          0     Normal
914   68   M           ASY        144          193          1     Normal
915   57   M           ASY        130          131          0     Normal
916   57   F           ATA        130          236          0        LVH
917   38   M           NAP        138          175          0     Normal

     MaxHR ExerciseAngina  Oldpeak ST_Slope  HeartDisease
0      172              N      0.0       Up             0
1      156              N      1.0     Flat             1
2       98              N      0.0       Up             0
3      108              Y      1.5     Flat             1
4      122              N      0.0       Up             0
..     ...            ...      ...      ...           ...
913    132              N      1.2     Flat             1
914    141              N      3.4     Flat             1
915    115              Y      1.2     Flat             1
916    174              N      0.0     Flat             1
917    173              N      0.0       Up             0

[918 rows x 12 columns]

In [4]:
print(dataset.head(12))

    Age Sex ChestPainType  RestingBP  Cholesterol  FastingBS RestingECG  \
0    40   M           ATA        140          289          0     Normal
1    49   F           NAP        160          180          0     Normal
2    37   M           ATA        130          283          0         ST
3    48   F           ASY        138          214          0     Normal
4    54   M           NAP        150          195          0     Normal
5    39   M           NAP        120          339          0     Normal
6    45   F           ATA        130          237          0     Normal
7    54   M           ATA        110          208          0     Normal
8    37   M           ASY        140          207          0     Normal
9    48   F           ATA        120          284          0     Normal
10   37   F           NAP        130          211          0     Normal
11   58   M           ATA        136          164          0         ST

    MaxHR ExerciseAngina  Oldpeak ST_Slope  HeartDisease
0     172              N      0.0       Up             0
1     156              N      1.0     Flat             1
2      98              N      0.0       Up             0
3     108              Y      1.5     Flat             1
4     122              N      0.0       Up             0
5     170              N      0.0       Up             0
6     170              N      0.0       Up             0
7     142              N      0.0       Up             0
8     130              Y      1.5     Flat             1
9     120              N      0.0       Up             0
10    142              N      0.0       Up             0
11     99              Y      2.0     Flat             1

In [5]:
from sklearn.preprocessing import LabelEncoder

In [6]:
le = LabelEncoder()
dataset['Sex'] = le.fit_transform(dataset['Sex'])
dataset['RestingECG'] = le.fit_transform(dataset['RestingECG'])
dataset['ChestPainType'] = le.fit_transform(dataset['ChestPainType'])
dataset['ST_Slope'] = le.fit_transform(dataset['ST_Slope'])
dataset['ExerciseAngina'] = le.fit_transform(dataset['ExerciseAngina'])


print(dataset)

     Age  Sex  ChestPainType  RestingBP  Cholesterol  FastingBS  RestingECG  \
0     40    1              1        140          289          0           1
1     49    0              2        160          180          0           1
2     37    1              1        130          283          0           2
3     48    0              0        138          214          0           1
4     54    1              2        150          195          0           1
..   ...  ...            ...        ...          ...        ...         ...
913   45    1              3        110          264          0           1
914   68    1              0        144          193          1           1
915   57    1              0        130          131          0           1
916   57    0              1        130          236          0           0
917   38    1              2        138          175          0           1

     MaxHR  ExerciseAngina  Oldpeak  ST_Slope  HeartDisease
0      172               0      0.0         2             0
1      156               0      1.0         1             1
2       98               0      0.0         2             0
3      108               1      1.5         1             1
4      122               0      0.0         2             0
..     ...             ...      ...       ...           ...
913    132               0      1.2         1             1
914    141               0      3.4         1             1
915    115               1      1.2         1             1
916    174               0      0.0         1             1
917    173               0      0.0         2             0

[918 rows x 12 columns]

In [7]:
print(dataset.columns)

Index(['Age', 'Sex', 'ChestPainType', 'RestingBP', 'Cholesterol', 'FastingBS',
       'RestingECG', 'MaxHR', 'ExerciseAngina', 'Oldpeak', 'ST_Slope',
       'HeartDisease'],
      dtype='object')

In [8]:
print(dataset.describe())

              Age         Sex  ChestPainType   RestingBP  Cholesterol  \
count  918.000000  918.000000     918.000000  918.000000   918.000000
mean    53.510893    0.789760       0.781046  132.396514   198.799564
std      9.432617    0.407701       0.956519   18.514154   109.384145
min     28.000000    0.000000       0.000000    0.000000     0.000000
25%     47.000000    1.000000       0.000000  120.000000   173.250000
50%     54.000000    1.000000       0.000000  130.000000   223.000000
75%     60.000000    1.000000       2.000000  140.000000   267.000000
max     77.000000    1.000000       3.000000  200.000000   603.000000

        FastingBS  RestingECG       MaxHR  ExerciseAngina     Oldpeak  \
count  918.000000  918.000000  918.000000      918.000000  918.000000
mean     0.233115    0.989107  136.809368        0.404139    0.887364
std      0.423046    0.631671   25.460334        0.490992    1.066570
min      0.000000    0.000000   60.000000        0.000000   -2.600000
25%      0.000000    1.000000  120.000000        0.000000    0.000000
50%      0.000000    1.000000  138.000000        0.000000    0.600000
75%      0.000000    1.000000  156.000000        1.000000    1.500000
max      1.000000    2.000000  202.000000        1.000000    6.200000

         ST_Slope  HeartDisease
count  918.000000    918.000000
mean     1.361656      0.553377
std      0.607056      0.497414
min      0.000000      0.000000
25%      1.000000      0.000000
50%      1.000000      1.000000
75%      2.000000      1.000000
max      2.000000      1.000000

In [9]:
dataset['Cholesterol'].value_counts()

0      172
254     11
223     10
220     10
230      9
      ...
392      1
316      1
153      1
466      1
131      1
Name: Cholesterol, Length: 222, dtype: int64

In [10]:
from sklearn.model_selection import train_test_split
X = dataset.iloc[:,0:11]
y = dataset.iloc[:,11]

(X_train, x_test, y_train, y_test)= train_test_split(X,y,random_state=42,test_size=0.2)

X_train

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope
795,42,1,2,120,240,1,1,194,0,0.8,0
25,36,1,2,130,209,0,1,178,0,0.0,2
84,56,1,0,150,213,1,1,125,1,1.0,1
10,37,0,2,130,211,0,1,142,0,0.0,2
344,51,1,0,120,0,1,1,104,0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...
106,48,0,0,120,254,0,2,110,0,0.0,2
270,45,1,0,120,225,0,1,140,0,0.0,2
860,60,1,0,130,253,0,1,144,1,1.4,2
435,60,1,0,152,0,0,2,118,1,0.0,2
102,40,0,0,150,392,0,1,130,0,2.0,1

In [11]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
x_test = sc_X.transform(x_test)

In [12]:
print("[INFO] kNN doing its job now...")
from sklearn.neighbors import KNeighborsClassifier

import math

length = len(dataset.index)

k = int(math.sqrt(length))
k
model = KNeighborsClassifier(n_neighbors=k)
model.fit(X_train, y_train)

from sklearn.metrics import classification_report
print(classification_report(y_test, model.predict(x_test),
	target_names=["HeartDisease","Age"]))

[INFO] kNN doing its job now...
              precision    recall  f1-score   support

HeartDisease       0.74      0.91      0.82        77
         Age       0.92      0.78      0.84       107

    accuracy                           0.83       184
   macro avg       0.83      0.84      0.83       184
weighted avg       0.85      0.83      0.83       184

In [13]:
from sklearn.metrics import confusion_matrix
y_pred = model.predict(x_test)
y_pred

print(confusion_matrix(y_test,y_pred))

[[70  7]
 [24 83]]

In [14]:
from sklearn.metrics import f1_score,accuracy_score
print(f1_score(y_test,y_pred))
print(accuracy_score(y_test,y_pred))

0.8426395939086295
0.8315217391304348